---
extends: default

rules:
  line-length:
    max: 140
    level: warning
    ignore: |
      .github/workflows/go.yml
      config/crd/bases/
      config/test/crd/
      config/samples/management_v1alpha1_edgeconfig.yaml
      swagger.yaml
  empty-lines:
    max: 1
    ignore: |
      config/crd/bases/
      config/rbac
      config/webhook/manifests.yaml
  indentation:
    indent-sequences: whatever
  document-start:
    present: true
    ignore: |
      config/**/kustomization.y?ml
      config/samples
      config/crd/patches/
      config/rbac
  comments:
    require-starting-space: true
    ignore:
      config/**/kustomization.yaml
  comments-indentation:
    ignore:
      config/samples/management_*.y?ml

ignore: |
  vendor/
