apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  namespace: system
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: REPLACE_HOSTNAME
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: controller-manager
                port:
                  number: 8888
